.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 120px 0;
  background-color: $bg-lighter;

  .container {
    .row {
      justify-content: center;
      align-items: center;
    }
  }

  .foto-profilo {
   
    max-width: 400px;
    margin: 0 auto;
    display: block;
  }

  .hero-text {
    text-align: left;
    padding: 20px;

    h1 {
      color: $text-light;
      font-size: 4em;
      margin-bottom: 1rem;
      font-weight: bold;

   .highlight {
      color: $primary-color;
    }

    }


    h2 {
      color: $text-light;
      font-weight: bold;
    
    }
  }
}

