// Hamburger-menù
.hamburger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    z-index: 100;
  
    span {
      width: 30px;
      height: 2px;
      background-color: #64ffda;
      transition: all 0.3s ease-in-out;
    }
}

.navbar-collapse {
    display: none; 
    &.show {
        display: block; 
    }
}

// Media Queries per hamburger-menù 
@media (max-width: 991px) {
   .hamburger {
      display: flex;
    }
  
  .nav-links {
      position: fixed;
      top: 0;
      right: -100%;
      height: 100vh;
      width: 100%;
      background-color:#0a192f;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: right 0.3s ease;
    }
  
  .nav-links.active {
      right: 0;
    }
  
  // Animazione hamburger 
  .hamburger.active span:nth-child(1) {
      transform: rotate(45deg) translate(6px, 6px);
    }
  
  .hamburger.active span:nth-child(2) {
      opacity: 0;
      transform: translateX(-20px);
    }
  
  .hamburger.active span:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px);
    }
}